body {
    background: #eee;
    margin: 0;
    padding: 0;
}
.cart{
    padding:  100px 0;
}
.cart_top_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_top{
    height: 2px;
    width: 70%;
    background-color: #ffc107;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart_top_item{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid  #ffc107;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #565e64;

}
.cart_top_item i{
    color: #565e64;

}
.cart_top_cart{
    border: 1px solid #0dcaf0;

}
.cart_top_cart i {
    color: #0dcaf0;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

html::-webkit-scrollbar  {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #eee;
}

html::-webkit-scrollbar-thumb {
    background: #f6b11a;
    border-radius: 5rem;
}


@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #f6b11a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.header .logo .LG {
    height:50px;
    border-radius: 10px;

}

.header .search-form {
    border-radius: 5rem;
    height: 5rem;
    width: 50rem;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}

.header .search-form input {
    width: 100%;
    padding-right: 1rem;
    font-size: 1.7rem;
    text-transform: none;
    color: #666;
}

.header .search-form label {
    font-size: 2rem;
    color: #666;
    cursor: pointer;
}

.header .search-form label:hover {
    color: #0984e3;
}

.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: #fff;
    cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
    color: #0984e3;
}
/* <!-- header section img  --> */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

#site-footer {
    background: #fff;
}

a {
    color: #000;
    text-decoration: none;

    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

a:hover {
    color: #0dcaf0;
}

.container {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 980px;
}

#cart {
    width: 100%;
}

#cart h1 {
    font-weight: 300;
}

#cart a {
    color: #53b5aa;
    text-decoration: none;

    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

#cart a:hover {
    color: #000;
}

.product.removed {
    margin-left: 980px !important;
    opacity: 0;
}

.product {
    border: 1px solid #eee;
    margin: 20px 0;
    width: 100%;
    height: 195px;
    position: relative;

    -webkit-transition: margin .2s linear, opacity .2s linear;
    -moz-transition: margin .2s linear, opacity .2s linear;
    -o-transition: margin .2s linear, opacity .2s linear;
    transition: margin .2s linear, opacity .2s linear;
}

.product img {
    width: 100%;
    height: 100%;
}

.product header, .product .content {
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
}

.product header {
    margin: 0 1% 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 195px;
}

.product header:hover img {
    opacity: .7;
}

.product header:hover h3 {
    bottom: 73px;
}

.product header h3 {
    background: #53b5aa;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;

    -webkit-transition: bottom .2s linear;
    -moz-transition: bottom .2s linear;
    -o-transition: bottom .2s linear;
    transition: bottom .2s linear;
}

.remove {
    cursor: pointer;
}

.product .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    padding: 0 20px;
    width: 75%;
}

.product h1 {
    font-size: 25px;
    font-weight: 300;
    margin: 17px 0 20px 0;
}

.product footer.content {
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
}

.product footer .price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
}

.product footer .full-price {
    background: #53b5aa;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;

    -webkit-transition: margin .15s linear;
    -moz-transition: margin .15s linear;
    -o-transition: margin .15s linear;
    transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
}

.qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
}

.qt-plus, .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
    background: #53b5aa;
    color: #fff;
    cursor: pointer;
}

.qt-plus {
    line-height: 50px;
}

.qt-minus {
    line-height: 47px;
}

#site-footer {
    margin: 30px 0 0 0;
}

#site-footer {
    padding: 40px;
}

#site-footer h1 {
    background: #fcfcfc;
    border: 1px solid #ccc;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 7px 0;
    padding: 14px 40px;
    text-align: center;
}

#site-footer h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
}

#site-footer h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    background: #53b5aa;
    border: 1px solid #999;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    padding: 16px 0;
    width: 100%;
    text-align: center;

    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.btn:hover {
    color: #fff;
    background: #429188;
}
/* footer */
.container-footer{
    background-color: #f6b11a;
    margin-top:0;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.container-footer .footer-wrap .row{
    display: flex;
}
.footer-wrap{
    max-width: 1200px;
    padding-left: 6px;padding-right:6px;
    margin-right: auto;margin-left: auto;
}
.column .col-title{
    color: #573f1e;
    font-size:18px;
    font-weight:600;
    font-family: Arial, sans-serif;
    line-height:25px;
    margin: 36px 0 12px ;
}
.column .col-title-1{
    color: #573f1e;
    font-size:18px;
    font-weight:600;
    font-family: Arial, sans-serif;
    line-height:25px;
    margin: 14px 0 12px ;
}
.column {
    flex-basis: 25%;
    font-size: 12px;
    padding:0 20px 0 6px;
}
.column .store-content{
    display: flex;
    margin-top:28px;
}
.column .store-content .qrcode{
    display: block;
}
.column .store-content .qrcode .qrcode-img{
    height:100px;
    width: 100px;
    border-radius: 20px;
}
.column .store-content .link{
    display: block;
}
.column .store-content .link .store-item .imges{
    height:47px;
    width: 162px;
    vertical-align: middle;
}
.column .store-content .link .store-item .img-chplay{
    margin-bottom: 7px;
}
.column .footer-list{
    display: flex;
    flex-direction: column;
    font-size:12px;
    text-decoration: none;
    list-style: none;
    width: 288px;height: 122px;
    padding-left: 0;
    margin-top:16px ;
}
.column .footer-list .items{
    color: #573f1e;
    display:inline-block;
    font-size:14px;
    line-height: 19px;
    text-align: left;
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding-top: 11px;
}
.column .icons-lh{
    display:flex;
    flex-direction: row;
}
.column .icons-lh .contact-item{
    width:32px;
    height: 32px;
    text-align: center;
    justify-content:center;
}
.column .icons-lh .contact-item .fa-facebook{
    background-color:#fff;
    border-radius: 50%;
    color:#0000ee;
    font-size: 32px;
}
.column .icons-lh .contact-item .fa-mobile-alt{
    font-size: 32px;
    color:#fff;
    border-radius: 10%;
    background-color:#70b535;
    margin-left: 5px;
}
.column .contact .DDK{
    width: 120px;
    height:47px ;
}
.section-wrap{
    background-color: #291704;
    width: 100%;
    text-align: center;
}
.container-section{
    display:flex;
    max-width:1200px;
    padding-right: 6px;
    justify-content: center;
    padding-left: 159px;
}
.container-section .my-address p{
    color: #fff;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
}
.container-section .my-address p a{
    display: inline-block;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;line-height: 25px;
}
/* css hover footer*/
.column .footer-list .items:hover{
    color: #fff;
    padding-left:5px;
}
h3.col-title:hover {
    color: #fff;
    padding-left: 5px;

}
h3.col-title-1:hover {
    color: #fff;
    padding-left: 5px;
}